<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<header th:replace="admin/blog/blogCom::common-head"></header>
<body class="lay-blog">
<div th:replace="admin/blog/blogCom::common-header"></div>
<div class="container-wrap">
    <div class="container container-message container-details">
        <div class="contar-wrap">
            <div class="item">
                <div class="item-box  layer-photos-demo1 layer-photos-demo">
                    <h3><a th:href="@{'/admin/blog/article/'+${blogVO.oid}}">
                        <th:block th:text="${blogVO.articletitle}"></th:block>
                        文章标题</a></h3>
                    <h5>
                        <div class="tags">
                            <th:block th:unless="${#lists.isEmpty(blogVO.articletags)}">
                                <th:block th:each="tag : ${blogVO.articletags}">
                                    <a th:href="@{'/admin/blog/tag/'+${tag}}" th:text="${tag}">文章标签</a>
                                </th:block>
                            </th:block>
                        </div>
                    </h5>
                    <h5>发布于：<span th:text="${#dates.format(blogVO.articlecreated,'yyyy-MM-dd HH:mm:ss')}">发布时间</span></h5>
                    <p><th:block th:utext="${blogVO.articlecontent}"/></p>
                    <img src="../res/static/images/item.png" alt="">
                    <div class="count layui-clear">
                        <span class="pull-left">阅读 <em><th:block th:text="${blogVO.articleviewcount}"></th:block></em></span>
                        <span class="pull-right ">评论 <em><th:block th:text="${blogVO.articlecommentcount}"></th:block></em></span>
<!--
                        <span class="pull-right like">评论 <em><th:block th:text="${blogVO.articlecommentcount}"></th:block></em></span>
-->

                    </div>
                </div>
            </div>
            <a name="comment"> </a>
            <div class="comt layui-clear">
                <a href="javascript:;" class="pull-left">评论</a>
                <a th:href="@{'/admin/blog/comment/'+${blogVO.oid}}" class="pull-right">写评论</a>
            </div>
            <div id="LAY-msg-box">
                <th:block th:unless="${#lists.isEmpty(blogVO.comments)}">
                    <th:block th:each="comment : ${blogVO.comments}">
                        <div class="info-item">
                            <img class="info-img" th:src="@{~/static/admin/plugins/blog/img/person.png}" alt="">
                            <div class="info-text">
                                <p class="title count">
                                    <span class="name"><th:block th:text="${name}"></th:block></span>
                                    <span class="info-img like"><i class="layui-icon layui-icon-praise"></i>100+</span>
                                </p>
                                <p class="info-intr"><th:block th:text="${comment.commentcontent}"></th:block></p>
                            </div>
                        </div>
                    </th:block>
                </th:block>
            </div>
        </div>
    </div>
</div>
<div th:replace="admin/blog/blogCom::common-footer"></div>
<script th:src="@{~/static/admin/plugins/blog/js/layui.js}"></script>
<script th:src="@{~/static/admin/plugins/jquery/js/jquery.min.js}"></script>
<script>
    layui.config({
        base: '/static/admin/plugins/blog/js/'
    }).use('blog');
</script>
</body>
</html>