<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<!--公共head区域-->
<head th:fragment="common-head">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>个人博客</title>
    <meta name="viewport" content="initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no">
    <link rel="stylesheet" th:href="@{~/static/admin/plugins/blog/css/layui.css}">
    <link rel="stylesheet" th:href="@{~/static/admin/plugins/blog/css/mian.css}">
    <link rel="stylesheet" th:href="@{~/static/admin/plugins/sweetalert/css/sweetalert.css}">
</head>
<!--div head区域-->
<div class="header" th:fragment="common-header">
    <div class="header-wrap">
        <h1 class="logo pull-left">
            <a th:href="@{/admin/index}">
                <img th:src="@{~/static/admin/plugins/blog/img/logo.png}" alt="" class="logo-img">
                <span style="color:#fff">哈哈</span>
            </a>
        </h1>
        <form class="layui-form blog-seach pull-left" action="">
            <div class="layui-form-item blog-sewrap">
                <div class="layui-input-block blog-sebox">
                    <i class="layui-icon layui-icon-search" id="keywordSearch"></i>
                    <input type="text" placeholder="请输入分类或标题" id="keywordInput" lay-verify="title" autocomplete="off"  class="layui-input">
                </div>
            </div>
        </form>
        <div class="blog-nav pull-right">
            <ul class="layui-nav pull-left">
                <li class="layui-nav-item layui-this"><a th:href="@{/admin/blog/index}">首页</a></li>
                <li class="layui-nav-item"><a href="message.html">留言</a></li>
                <li class="layui-nav-item"><a href="about.html">关于</a></li>
            </ul>
            <a href="#" class="personal pull-left">
                <i class="layui-icon layui-icon-username"></i>
            </a>
        </div>
        <div class="mobile-nav pull-right" id="mobile-nav">
            <a href="javascript:;">
                <i class="layui-icon layui-icon-more"></i>
            </a>
        </div>
    </div>
    <ul class="pop-nav" id="pop-nav" >
        <li><a th:href="@{/admin/blog/index}">首页</a></li>
        <li><a href="message.html">留言</a></li>
        <li><a href="about.html">关于</a></li>
    </ul>
</div>
<!--公共foot区域-->
<div class="footer" th:fragment="common-footer">
    <p>
        <span>&copy; 2018</span>
        <span><a href="http://www.layui.com" target="_blank">layui.com</a></span>
        <span>MIT license</span>
    </p>
    <p><span>人生就是一场修行</span></p>
</div>
<script></script>
</html>
