<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<header th:replace="admin/blog/blogCom::common-head"></header>
<body class="lay-blog">
<div th:replace="admin/blog/blogCom::common-header"></div>
<div class="container-wrap">
    <div class="container" style="width: 100%">
        <div class="contar-wrap" style="width: 61.9%;float: left">
            <h4 class="item-title">
                <p><i class="layui-icon layui-icon-speaker"></i>公告：<span>欢迎来到我的博客</span></p>
            </h4>
            <th:block th:if="${blogResultPage !=null}">
                <th:block th:each="blog : ${blogResultPage.list}">
                    <div class="item">
                        <div class="item-box  layer-photos-demo2 layer-photos-demo">
                            <div class="blog-flex-center">
                                <div class="blog-flex0">
                                    <img th:src="@{~/static/admin/plugins/blog/img/person.png}" alt="" class="link avatar avatar-image">
                                </div>
                                <div class="author-lockup blog-flex1">
                                    <a class="link" href="javascript:;" th:text="${name}">登录名</a>
                                    <span class="in">in</span>
                                    <span class="category-name">
                                <a class="category-name" rel="tag" th:href="@{'/admin/blog/category/'+${blog.articlecategoryid}}" th:utext="${blog.articlecategoryname}">分类</a>
							</span>
                                </div>
                            </div>
                            <h3><a th:href="@{'/admin/blog/article/'+${blog.oid}}">
                                <th:block th:text="${blog.articletitle}"></th:block>
                                文章标题</a></h3>
                            <h5>发布于：<span th:text="${#dates.format(blog.articlecreated,'yyyy-MM-dd HH:mm:ss')}">发布时间</span></h5>
                            <p>
                                <th:block th:utext="${#strings.abbreviate(blog.articlecontent,150)}">
                                </th:block>
                            </p>
                            <img th:src="@{~/static/admin/plugins/blog/img/item.png}" alt="">
                        </div>
                        <div class="comment count">
                            <a  href="javascript:;" th:text="'评论（'+${blog.articlecommentcount}+'）'">评论</a>
                            <a href="javascript:;" class="like" th:text="'阅读量（'+${blog.articleviewcount}+'）'">点赞</a>
                        </div>
                    </div>
                </th:block>
            </th:block>
            <div class="item-btn">
                <th:block th:if="${null != blogResultPage}">
                    <ul class="am-pagination">
                        <li th:class="${blogResultPage.currPage==1}?'disabled' : 'am-pagination-prev'"><a
                                th:href="@{${blogResultPage.currPage==1}?'##':'/admin/blog/'+ ${pageUrl} + ${blogResultPage.currPage-1}}">&laquo;</a>
                        </li>
                        <li th:if="${blogResultPage.currPage-3 >=1}"><a
                                th:href="@{'/admin/blog/'+ ${pageUrl}+ ${blogResultPage.currPage-3}}"
                                th:text="${blogResultPage.currPage -3}">1</a></li>
                        <li th:if="${blogResultPage.currPage-2 >=1}"><a
                                th:href="@{'/admin/blog/'+ ${pageUrl} + ${blogResultPage.currPage-2}}"
                                th:text="${blogResultPage.currPage -2}">1</a></li>
                        <li th:if="${blogResultPage.currPage-1 >=1}"><a
                                th:href="@{'/admin/blog/'+ ${pageUrl} + ${blogResultPage.currPage-1}}"
                                th:text="${blogResultPage.currPage -1}">1</a></li>
                        <li class="active"><a href="#" th:text="${blogResultPage.currPage}">1</a></li>
                        <li th:if="${blogResultPage.currPage+1 <=blogResultPage.totalPage}"><a
                                th:href="@{'/admin/blog/'+ ${pageUrl} + ${blogResultPage.currPage+1}}"
                                th:text="${blogResultPage.currPage +1}">1</a></li>
                        <li th:if="${blogResultPage.currPage+2 <=blogResultPage.totalPage}"><a
                                th:href="@{'/admin/blog/'+ ${pageUrl} + ${blogResultPage.currPage+2}}"
                                th:text="${blogResultPage.currPage +2}">1</a></li>
                        <li th:if="${blogResultPage.currPage+3 <=blogResultPage.totalPage}"><a
                                th:href="@{'/admin/blog/'+ ${pageUrl} + ${blogResultPage.currPage+3}}"
                                th:text="${blogResultPage.currPage +3}">1</a></li>
                        <li th:class="${blogResultPage.currPage==blogResultPage.totalPage}?'disabled' : ''">
                            <a
                                    th:href="@{${blogResultPage.currPage==blogResultPage.totalPage}?'##' : '/admin/blog/'+ ${pageUrl} + ${blogResultPage.currPage+1}}">&raquo;</a>
                        </li>
                    </ul>
                </th:block>
            </div>
        </div>
        <div class="sidebar-container" style="width:32%;float:right">
            <th:block th:if="${hotTagList!=null}">
                <section>
                    <div class="sidebar-header">
                            <span class="sidebar-header-title">
                                热门标签
                            </span>
                    </div>
                    <div class="tags ">
                        <th:block th:each="hotTag : ${hotTagList}">
                            <a rel="tag" th:href="@{'/admin/blog/tag/'+${hotTag.tagTitle}}"
                               th:utext="${hotTag.tagTitle}+'（'+${hotTag.tagCount}+'）'">标签（数量）</a>
                        </th:block>
                    </div>
                </section>
            </th:block>
            <th:block th:if="${newArticleList!=null}">
                <selection>
                    <div class="sidebar-header">
                        <span class="sidebar-header-title">最新发布</span>
                    </div>
                    <div class="sidebar-list">
                        <ul class="sidebar-list-body sidebar-list-items">
                            <th:block th:each="newArticle : ${newArticleList}">
                                <li class="sidebar-list-item"><a th:href="@{'/admin/blog/article/'+${newArticle.oid}}"
                                       th:utext="${newArticle.articletitle}" class="tag tooltipped tooltipped-n">
                                </a></li>
                            </th:block>
                        </ul>
                    </div>
                </selection>
            </th:block>
            <th:block th:if="${hotArticleList!=null}">
                <selection>
                    <div class="sidebar-header">
                        <span class="sidebar-header-title">点击最多</span>
                    </div>
                    <main class="sidebar-lists">
                        <ul>
                            <th:block th:each="hotArticle : ${hotArticleList}">
                                <li class="sidebar-list-item"><a th:href="@{'/admin/blog/article/'+${hotArticle.oid}}"
                                                                 th:utext="${hotArticle.articletitle}" class="tag tooltipped tooltipped-n">
                                </a></li>
                            </th:block>
                        </ul>
                    </main>
                </selection>
            </th:block>
        </div>
        <div style="clear:both"></div>
    </div>
</div>
<div th:replace="admin/blog/blogCom::common-footer"></div>
<script th:src="@{~/static/admin/plugins/blog/js/layui.js}"></script>
<script th:src="@{~/static/admin/plugins/jquery/js/jquery.min.js}"></script>
<script>
    layui.config({
        base: '/static/admin/plugins/blog/js/'
    }).use('blog');
</script>
</body>
</html>