<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<!--header头页面-->
<header th:replace="admin/common::common-head"></header>
<body>
<!--nav区域-->
<div th:replace="admin/common::common-nav"></div>
<!--menu菜单区域-->
<div th:replace="admin/common::common-menu"></div>
<div class="page-wrap">
    <!--bread头区域-->
    <div th:replace="admin/common::common-bread"></div>
    <div class="container-fluid">
        <div class="row-fluid">
            <div class="span12">
                <div class="row-fluid">
                    <div class="span12 well">
                        <div class="title">首页管理</div>
                        <div class="well-content">
                            <div class="row-fluid">
                                <div class="quick-button span4 black">
                                    <img class="img-icon" th:src="@{~/static/admin/assets/img/flat_icons/edit.png}" alt="" />
                                    <a href="#">
                                        <div class="overlay">
                                            <p>写博客</p>
                                        </div>
                                    </a>
                                </div>
                                <div class="quick-button span4 green">
                                    <img class="img-icon" th:src="@{~/static/admin/assets/img/flat_icons/layered.png}" alt="" />
                                    <a href="#">
                                        <div class="overlay">
                                            <p>博客总数</p>
                                            <th:block><p th:text="'（'+${articles}+'）'" style="margin-top: 5%"></p></th:block>
                                        </div>
                                    </a>
                                </div>
                                <div class="quick-button span4 orange">
                                    <img class="img-icon" th:src="@{~/static/admin/assets/img/flat_icons/message.png}" alt="" />
                                    <a href="#">
                                        <div class="overlay">
                                            <p>总评论数</p>
                                            <th:block><p th:text="'（'+${comments}+'）'" style="margin-top: 5%"></p></th:block>
                                        </div>
                                    </a>
                                </div>
                            </div>
                            <div class="row-fluid">
                                <div class="quick-button span4 blue">
                                    <img class="img-icon" th:src="@{~/static/admin/assets/img/flat_icons/shelf.png}" alt="" />
                                    <a href="#">
                                        <div class="overlay">
                                            <p>分类数量</p>
                                            <th:block><p th:text="'（'+${categorys}+'）'" style="margin-top: 5%"></p></th:block>
                                        </div>
                                    </a>
                                </div>
                                <div class="quick-button span4 pink">
                                    <img class="img-icon" th:src="@{~/static/admin/assets/img/flat_icons/calendar.png}" alt="" />
                                    <a href="#">
                                        <div class="overlay">
                                            <p>标签总数</p>
                                            <th:block><p th:text="'（'+${tags}+'）'" style="margin-top: 5%"></p></th:block>
                                        </div>
                                    </a>
                                </div>
                                <div class="quick-button span4 purple">
                                    <img class="img-icon" th:src="@{~/static/admin/assets/img/flat_icons/chat.png}" alt="" />
                                    <a href="#">
                                        <div class="overlay">
                                            <p>链接总数</p>
                                            <th:block><p th:text="'（'+${links}+'）'" style="margin-top: 5%"></p></th:block>
                                        </div>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--foot脚区域-->
    <div th:replace="admin/common::common-foot"></div>
</div>
<script th:src="@{~/static/admin/plugins/jquery/js/jquery.min.js}"></script>
<script th:src="@{~/static/admin/plugins/bootstrap/js/bootstrap.min.js}"></script>
<script th:src="@{~/static/admin/plugins/jQueryUI/js/jquery-ui-1.9.2.custom.min.js}"></script>
<script th:src="@{~/static/admin/plugins/js/menu.js}"></script>
</body>
</html>
