<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<title>YC blog</title>
	<link rel="stylesheet" th:href="@{/admin/plugins/css/login/login.css}">
	<link rel="stylesheet" th:href="@{/admin/plugins/sweetalert/css/sweetalert.css}">
</head>
<body>
<input type="hidden" id="imglist" th:value="${imglist}">
<div class="logo-box">
	<div class="login" style="">
<!--		<div class="bxs-row" style="text-align:center;">
			<img id="logo" src="images/logo.jpg" style="width:72px;"><span class="tips" style="color:red;">忍住不哭来段口技</span>
		</div>-->
		<div class="bxs-row" style="text-align:center;">
			<span class="tips">用户登录</span>
		</div>
		<div class="bxs-row">
			<input type="text" class="username" placeholder="用户名" value="admin">
			<p class=" err err-username"></p>
		</div>
		<div class="bxs-row">
			<input type="password" class="password" placeholder="密码">
			<p class="err err-password"></p>
		</div>
		<div class="bxs-row">
			<input type="submit" class="submit btn" value="登录">
		</div>
	</div>
	<div class="verBox">
		<div id="imgVer" style="display:inline-block;"></div>
	</div>
</div>
<script th:src="@{/admin/plugins/jquery/js/jquery.min.js}"></script>
<script th:src="@{/admin/plugins/js/login/login.js}"></script>
<script th:src="@{/admin/plugins/js/login/sliderImg.js}"></script>
<script th:src="@{/admin/plugins/sweetalert/js/sweetalert.min.js}"></script>
</body>
</html>