<!DOCTYPE html>
<html lang="en">
<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<!--header头页面-->
<header th:replace="admin/common::common-head"></header>
<body>
<!--nav区域-->
<div th:replace="admin/common::common-nav"></div>
<!--menu菜单区域-->
<div th:replace="admin/common::common-menu"></div>
<div class="page-wrap">
    <!--bread头区域-->
    <div th:replace="admin/common::common-bread"></div>
    <div class="container-fluid">
        <div class="row-fluid">
            <div class="">
                <div class="row-fluid">
                    <div class="span12 well">
                        <div class="title">
                            <button class="btn btn-primary btn-lg" data-toggle="modal" data-target="#myModal">新增</button>
                        </div>
                        <div class="well-content">
                            <table id="table_tagList" class="table table-bordered">
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--foot脚区域-->
    <div th:replace="admin/common::common-foot"></div>
    <!-- 模态框（Modal） -->
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title" id="myModalLabel">标签添加</h4>
                </div>
                <div class="modal-body">
                    <form id="linkForm">
                        <div class="form-group">
                            <div class="alert alert-danger" id="edit-error-msg" style="display: none;">
                                错误信息展示栏。
                            </div>
                        </div>
                        <input type="hidden" class="form-control" id="linkId" name="linkId">
                        <div class="form-group">
                            <label for="tagTitle" class="control-label">标签名称:</label>
                            <input type="text" class="form-control" id="tagTitle" name="tagTitle"
                                   placeholder="请输入标签名称" required="true">
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                    <button type="button" class="btn btn-primary" id="saveButton">保存</button>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal -->
    </div>
</div>
<script th:src="@{~/static/admin/plugins/jquery/js/jquery.min.js}"></script>
<script th:src="@{~/static/admin/plugins/bootstrap/js/bootstrap.min.js}"></script>
<script th:src="@{~/static/admin/plugins/bootstrap/js/bootstrap-table.js}"></script>
<script th:src="@{~/static/admin/plugins/bootstrap/js/bootstrap-table-zh-CN.js}"></script>
<script th:src="@{~/static/admin/plugins/jQueryUI/js/jquery-ui-1.9.2.custom.min.js}"></script>
<script th:src="@{~/static/admin/plugins/sweetalert/js/sweetalert.min.js}"></script>
<script th:src="@{~/static/admin/plugins/js/menu.js}"></script>
<script th:src="@{~/static/admin/plugins/js/tag.js}"></script>
</body>
</html>
