<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.blog.base.dao.TagArticleMapper">
  <resultMap id="BaseResultMap" type="com.blog.base.entity.TagArticle">
    <id column="oId" jdbcType="BIGINT" property="oid" />
    <result column="article_oId" jdbcType="BIGINT" property="articleOid" />
    <result column="tag_oId" jdbcType="BIGINT" property="tagOid" />
  </resultMap>
  <sql id="Base_Column_List">
    oId, article_oId, tag_oId
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from yc_tag_article
    where oId = #{oid,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from yc_tag_article
    where oId = #{oid,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.blog.base.entity.TagArticle">
    <selectKey keyProperty="oid" order="AFTER" resultType="java.lang.Long">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into yc_tag_article (article_oId, tag_oId)
    values (#{articleOid,jdbcType=BIGINT}, #{tagOid,jdbcType=BIGINT})
  </insert>
  <insert id="insertSelective" parameterType="com.blog.base.entity.TagArticle">
    <selectKey keyProperty="oid" order="AFTER" resultType="java.lang.Long">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into yc_tag_article
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="articleOid != null">
        article_oId,
      </if>
      <if test="tagOid != null">
        tag_oId,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="articleOid != null">
        #{articleOid,jdbcType=BIGINT},
      </if>
      <if test="tagOid != null">
        #{tagOid,jdbcType=BIGINT},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.blog.base.entity.TagArticle">
    update yc_tag_article
    <set>
      <if test="articleOid != null">
        article_oId = #{articleOid,jdbcType=BIGINT},
      </if>
      <if test="tagOid != null">
        tag_oId = #{tagOid,jdbcType=BIGINT},
      </if>
    </set>
    where oId = #{oid,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.blog.base.entity.TagArticle">
    update yc_tag_article
    set article_oId = #{articleOid,jdbcType=BIGINT},
      tag_oId = #{tagOid,jdbcType=BIGINT}
    where oId = #{oid,jdbcType=BIGINT}
  </update>
  <select id="selectByTagId" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from yc_tag_article
    where tag_oId = #{tagId,jdbcType=BIGINT}
  </select>
  <delete id="delTagArticleByArticleId" parameterType="java.lang.Long">
    delete from yc_tag_article
    where article_oId = #{articleId,jdbcType=BIGINT}
  </delete>
</mapper>