<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.blog.base.dao.TagMapper">
  <resultMap id="BaseResultMap" type="com.blog.base.entity.Tag">
    <id column="oId" jdbcType="BIGINT" property="oid" />
    <result column="tagTitle" jdbcType="VARCHAR" property="tagtitle" />
    <result column="createDate" jdbcType="TIMESTAMP" property="createdate" />
  </resultMap>
  <resultMap id="BaseHotTagListMap" type="com.blog.base.vo.TagHotVO">
    <result column="tag_oId" jdbcType="BIGINT" property="tagOId" />
    <result column="tag_count" jdbcType="BIGINT" property="tagCount" />
    <result column="tagTitle" jdbcType="VARCHAR" property="tagTitle" />
  </resultMap>
  <sql id="Base_Column_List">
    oId, tagTitle, createDate
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from yc_tag
    where oId = #{oid,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from yc_tag
    where oId = #{oid,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.blog.base.entity.Tag">
    <selectKey keyProperty="oid" order="AFTER" resultType="java.lang.Long">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into yc_tag (tagTitle, createDate)
    values (#{tagtitle,jdbcType=VARCHAR}, #{createdate,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.blog.base.entity.Tag">
    <selectKey keyProperty="oid" order="AFTER" resultType="java.lang.Long">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into yc_tag
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="tagtitle != null">
        tagTitle,
      </if>
      <if test="createdate != null">
        createDate,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="tagtitle != null">
        #{tagtitle,jdbcType=VARCHAR},
      </if>
      <if test="createdate != null">
        #{createdate,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.blog.base.entity.Tag">
    update yc_tag
    <set>
      <if test="tagtitle != null">
        tagTitle = #{tagtitle,jdbcType=VARCHAR},
      </if>
      <if test="createdate != null">
        createDate = #{createdate,jdbcType=TIMESTAMP},
      </if>
    </set>
    where oId = #{oid,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.blog.base.entity.Tag">
    update yc_tag
    set tagTitle = #{tagtitle,jdbcType=VARCHAR},
      createDate = #{createdate,jdbcType=TIMESTAMP}
    where oId = #{oid,jdbcType=BIGINT}
  </update>
  <select id="selectByTagTitle" parameterType="java.lang.String" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List"/>
    from yc_tag
    where tagTitle = #{tagTitle,jdbcType=VARCHAR}
  </select>
  <select id="findTagList" parameterType="Map" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List"/>
    from yc_tag
    order by oId desc
    <if test="start!=null and limit!=null">
      limit #{start},#{limit}
    </if>
  </select>
  <select id="getTotalTags" parameterType="Map" resultType="int">
    select count(*)  from yc_tag
  </select>
  <select id="getHotTagList" resultMap="BaseHotTagListMap">
    SELECT t_r.*, t.tagTitle  FROM
	    ( SELECT r.tag_oId, r.tag_count FROM
                ( SELECT tag_oId, COUNT(*) AS tag_count FROM
                    ( SELECT tr.tag_oId FROM yc_tag_article tr LEFT JOIN yc_article b ON tr.article_oId = b.oid) trb GROUP BY tag_oId
                ) r  ORDER BY tag_count DESC LIMIT 20
	    ) AS t_r
        LEFT JOIN yc_tag t ON t_r.tag_oId = t.oid
  </select>
</mapper>